<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</head>
<body>
    
    <header>
        <nav>
            <div class="logo fas fa-heartbeat">Morgana</div>
            <ul>
                <li><a href="">Morgana Hospital</a></li>
                <li><a href="">Morgana clinic .Co</a></li>
                <li><a href="">Morgana High School</a></li>
            </ul>
            <div class="sublist">
                <span><a href="/dashboard">Appointments</a></span>
                <span><a href="#">My Chart</a></span>
                <span><a href="#">Login</a></span>
                <span><a href="/login/logout">Log Out</a></span>
    
            </div>
        </nav>
    
        <div class="search-area">
            <div class="search">
                <div class="logo"><img src="/images/logo.png" alt=""></div>
                <div class="bar"><input type="search" placeholder="Search here...."></div>
                <i class="fas fa-search"></i>
            </div>
            <div class="list">
                <span><a href="/">Home</a></span>
                <span><a href="#!about">About Us</a></span>
                <span><a href="#!depart">Departments & Services</a></span>
                <span><a href="#!staff">Our Staff</a></span>
                <span><a href="/appoint">Make an Appointment</a></span>
                <span><a href="#!news">Latest News</a></span>
                <!-- <span><a href="#">Testimonials</a></span> -->
            </div>
        </div>
    </header>
    <%-body%>

    <footer>
        <div class="contact">
            <img src="/images/logo.png" alt="">
            <span><i class="fas fa-map"></i>123 havendale cresent</span>
            <span><i class="fas fa-envelope"></i>Morgana Hospital@gmail.com</span>
            <span><i class="fas fa-phone"></i>(876) 842-7815</span>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
            <i class="fas fa-envelope"></i>
        </div>
    
        <div class="links">
            <h2>Useful links</h2>
            <span><i class="fas fa-caret-right"></i>Choosing a doctor</span>
            <span><i class="fas fa-caret-right"></i>Primary Medical care</span>
            <span><i class="fas fa-caret-right"></i>Discuss Your doctor</span>
            <span><i class="fas fa-caret-right"></i>Client User Account</span>
            <span><i class="fas fa-caret-right"></i>Our support Forum</span>
            <span><i class="fas fa-caret-right"></i>Our Help Center</span>
        </div>
        <div class="services">
            <h2>Services</h2>
            <span><i class="fas fa-caret-right"></i>Emergency Care</span>
            <span><i class="fas fa-caret-right"></i>Operation Theater</span>
            <span><i class="fas fa-caret-right"></i>Medical Checkup</span>
            <span><i class="fas fa-caret-right"></i>Diagnostic Checkup</span>
            <span><i class="fas fa-caret-right"></i>Our support Forum</span>
            <span><i class="fas fa-caret-right"></i>Pharmacy Service</span>
        </div>
        <div class="news">
            <h2>Latest news</h2>
            <div class="content">
                <div class="img">
                    <img src="/images/contact.jpg" alt="">
                </div>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet consectetur</p>
                    <span>25 feb 2021</span>
                </div>
            </div>
            <div class="content">
                <div class="img">
                    <img src="/images/service.jpg" alt="">
                </div>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet consectetur</p>
                    <span>25 feb 2021</span>
                </div>
            </div>
            <div class="content">
                <div class="img">
                    <img src="/images/service.jpg" alt="">
                </div>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet consectetur</p>
                    <span>25 feb 2021</span>
                </div>
            </div>
    
    
        </div>
    </footer>
    <div class="copy">
        <label for="">©Copyright 2021 | all rights reserved</label>
    </div>
</body>
</html>


