<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/home.css">
</head>
<body>
    <div class="img1">
        <h2>weclome to Morgana Hospital</h2>
        <h3>where we offer the best Medical Services</h3>
    </div>
    <div class="hours">
        <i class="fas fa-clock"></i>
        <div class="award">
            <label>Opening Hours</label>
            <span>Mon-Sun: 24hrs</span>
        </div>
    
    
        <i class="fas fa-user"></i>
        <div class="doctors">
            <label>Sign in/sign up</label>
            <span>Discount To Members</span>
        </div>
    
        <i class="fas fa-medkit"></i>
        <div class="service">
            <label>24/7</label>
            <span> Rescue Services</span>
        </div>
    
        <i class="fas fa-phone"></i>
        <div class="ratings">
            <label>Contact us</label>
            <span>(876) 854-3217</span>
        </div>
    
    </div>
    
</body>
</html>