:root{
    --green:rgba(20, 162, 187, 0.664);
    --darkgreen:rgb(14, 183, 212);
    --lightgreen:rgba(90, 238, 176, 0.904);
    --shadow:18px 20px 22px 0px rgba(105,95,95,0.6);
}

*{
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    padding: 0;
    margin: 0;
    transition: all .3s linear;
}





nav{
    position: relative;
    background-color:rgb(14, 183, 212);
    display: flex;
    height: 4rem ;
    line-height: 4rem;
}


nav .logo{
    position: absolute;
    color: white;
    font-size: 2rem;
    line-height: 3.2rem;
}
nav ul{
    margin-left: 10%;
}
nav ul li{
    display: inline-block;
    margin-left: 3rem;
    font-size: 1.2rem;

}
nav ul li a{
    color: white;
}

.sublist{
    background-color: rgba(20, 162, 187, 0.664);;
    /* transform: skew(15deg); */
    width:43%;
    margin-left: 1.5rem;
}

.sublist span{
    transform: none;
    margin-left: 2rem;
    font-size: 1.1rem;
}
.sublist span a{
    color: white ;
}

.search{
    display: flex;
    align-items: center;
}

.bar{
    margin-left: 35rem;
    
}
.bar input{
    border: 1px solid var(--lightgreen);
    padding: 10px;
    position: relative;
    top: -3rem;
    width: 25rem;
}

 .search .fa-search{
  position: relative;
  color: var(--darkgreen);
  bottom: 2.8rem;
  right: 2.5rem
}

.search .logo img{
    width: 15rem;
    margin-top: -4.5rem;
    margin-left: 4rem;

}


.list span{
    margin-left: 3rem;
    font-size: 1.1rem;
}

.list{
    display: flex;
    justify-content: center;
    margin-top: -4rem;
}
 .list span a{
    color: var(--darkgreen);
    text-transform: uppercase;

} 


footer{
    padding-top: 4rem;
    display: flex;
    justify-content: space-around;
    background-color:rgb(12, 55, 65);;
  }

  .contact img{
    margin-top: -4rem;
    width: 12rem;
    display: block;
  }

  .contact i{
    color: rgb(90, 238, 176);
    padding-right: .8rem;
  }

  .contact span{
    display: block;
    color: white;
    padding-bottom: 1.3rem;
  }

  .contact span i{
    padding-right: .8rem;
    color: white;
  }

  .links h2{
    color: white;
    margin-bottom: 2rem;
  }

  .links span{
    display: block;
    color: white;
    padding-bottom: 1.3rem;
   }

   .links span i{
     padding-right: .6rem;
     color: rgb(90, 238, 176);

   }

 .services h2{
   color: white;
   margin-bottom: 2rem;
 }

 .services span{
   display: block;
   color: white;
   padding-bottom: 1.3rem;
 }

 .services span i{
   padding-right: .6rem;
   color: rgb(90, 238, 176);

 }

 
 .news h2{
   color: white;
   margin-bottom: 2rem;
 }
.news p{
 color: white;
}
.news span{
 color: rgb(90, 238, 176);
}

.news .content{
 display: flex;
 margin-bottom: 2rem;
}
.news .img img{
 width: 8rem;
}
.news .content .text{
 margin-left: 1.1rem;
 width: 10rem;
}


.copy{
 display: flex; 
 justify-content: center;
    background-color:rgb(6, 47, 58);
}
  
.copy label{
 padding: 5px;
 color: #fff;

}